<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- standard characters -->
    <meta charset="utf-8">
    <!-- responsive meta tag, sets viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css file link. use ../ to go up one directory to find css folder -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- roboto font link -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- page title -->
    <title>Fibonacci Number Generator</title>
  </head>
  <body>
    <!-- page title as h1 -->
    <h1 class="page_title">Generate Nth Fibonacci Number</h1>
    <!-- add custom js file. contains the function to generate the numbers -->
    <script src="../js/main.js"></script>
  </body>
</html>

<!-- TODO:
	fix function so it actually works for any valid numeric value
	throw error on the case of real number input, using mod 1
	incorporate program into a page
	use number inputs on page
	pass numeric input from page into function
	set up vertical two column layout, one to accept inputs and show results, the other to show the code
-->
